.chints-iconpicker .chints-iconpicker-items,
.chints-iconpicker .chints-iconpicker-items:after,
.chints-iconpicker-popover .chints-popover-footer:after,
.chints-iconpicker:after {
    clear: both
}

.chints-iconpicker-popover.chints-popover {
    position: absolute;
    padding: 1px;
    text-align: left;
    background: #e5e5e5;
    z-index: 999;
    display: none;
    // margin-left: -10px;
    width: 254px
}

.chints-iconpicker,
.chints-iconpicker-popover.chints-popover.chints-iconpicker-visible {
    display: block
}

.chints-iconpicker-popover.chints-popover .chints-popover-title {
    padding: 5px;
    font-size: 5px;
    line-height: 16px;
    border-bottom: 1px solid #ebebeb;
    background-color: #e5e5e5
}

.chints-iconpicker-popover.chints-popover .chints-popover-title input[type=search].chints-iconpicker-search {
    margin: 0 0 2px
}

.chints-iconpicker-popover.chints-popover .chints-popover-title-text~input[type=search].chints-iconpicker-search {
    margin-top: 14px
}

.chints-iconpicker-popover.chints-popover .chints-popover-content {
    padding: 0;
    text-align: center
}

.chints-iconpicker-popover.chints-popover>.chints-arrow,
.chints-iconpicker-popover.chints-popover>.chints-arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.chints-iconpicker *,
.chints-icp-container {
    position: relative
}

.chints-iconpicker-popover.chints-popover>.chints-arrow {
    border-width: 11px
}

.chints-iconpicker-popover.chints-popover>.chints-arrow:after {
    border-width: 10px;
    content: ""
}

.chints-iconpicker-popover.chints-popover.chints-bottomLeft>.chints-arrow {
    border-top-width: 0;
    border-bottom-color: #e5e5e5;
    top: -11px
}

.chints-iconpicker-popover.chints-popover.chints-bottomLeft>.chints-arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #e5e5e5
}

.chints-iconpicker-popover.chints-popover.chints-bottomLeft>.chints-arrow {
    left: 14px;
    margin-left: 0
}

.chints-iconpicker,
.chints-iconpicker .chints-iconpicker-items {
    position: relative;
    margin: 0;
    overflow: hidden
}

.chints-iconpicker {
    text-align: left;
    text-shadow: none;
    line-height: 0
}

.chints-iconpicker .chints-iconpicker-items:after,
.chints-iconpicker .chints-iconpicker-items:before,
.chints-iconpicker:after,
.chints-iconpicker:before {
    content: " ";
    display: table
}

.chints-iconpicker * {
    box-sizing: content-box
}

.chints-iconpicker .chints-iconpicker-items {
    float: none;
    padding: 5px 0 0 5px;
    background: #fff;
    overflow-y: auto;
    min-height: 55px;
    max-height: 275px
}

.chints-iconpicker .chints-iconpicker-items i {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 7px 7px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-size: 18px;
    color: #444;
    box-shadow: 0 0 0 1px #ddd;
    transition: transform .2s ease
}

.chints-iconpicker .chints-iconpicker-items i:nth-child(6n) {
    margin-right: 0
}

.chints-iconpicker .chints-iconpicker-items i:hover {
    transform: scale(1.4);
    color: #008ec2;
    box-shadow: none
}

.chints-icp {
    padding-left: 30px
}

.chints-icp-container .chints-input-group-addon {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px
}